.bigcol {
    font-size: 0;
    display: grid;
    grid-template-columns: 24.5% 25% 25% 24.5%;
    grid-template-rows: 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh 22vh;
    grid-gap: 5px;
    grid-auto-flow: dense;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0px 1%;
    margin-bottom: 15px;
}

.bigcol .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .img-fluid {
    width: 100%;
    height: 100%;
}

.bigcol .item:nth-child(1),
.bigcol .item:nth-child(54) {
    grid-row: span 4;
    grid-column: span 4;
}

.bigcol .item:nth-child(3) {
    grid-row: span 2;
    grid-column: span 2;
}

.bigcol .item:nth-child(5),
.bigcol .item:nth-child(8),
.bigcol .item:nth-child(22),
.bigcol .item:nth-child(26),
.bigcol .item:nth-child(27),
.bigcol .item:nth-child(28),
.bigcol .item:nth-child(35),
.bigcol .item:nth-child(44),
.bigcol .item:nth-child(45) {
    grid-row: span 3;
    grid-column: span 2;
}

.bigcol .item:nth-child(23) {
    grid-row: span 4;
    grid-column: span 2;
}

.bigcol .item:nth-child(4),
.bigcol .item:nth-child(9),
.bigcol .item:nth-child(10),
.bigcol .item:nth-child(14),
.bigcol .item:nth-child(18),
.bigcol .item:nth-child(19),
.bigcol .item:nth-child(20),
.bigcol .item:nth-child(24),
.bigcol .item:nth-child(25),
.bigcol .item:nth-child(31),
.bigcol .item:nth-child(32),
.bigcol .item:nth-child(33),
.bigcol .item:nth-child(34),
.bigcol .item:nth-child(36),
.bigcol .item:nth-child(37),
.bigcol .item:nth-child(38),
.bigcol .item:nth-child(39),
.bigcol .item:nth-child(40),
.bigcol .item:nth-child(41),
.bigcol .item:nth-child(42),
.bigcol .item:nth-child(43),
.bigcol .item:nth-child(46),
.bigcol .item:nth-child(47),
.bigcol .item:nth-child(48),
.bigcol .item:nth-child(49),
.bigcol .item:nth-child(50),
.bigcol .item:nth-child(51),
.bigcol .item:nth-child(52),
.bigcol .item:nth-child(53) {
    grid-row: span 4;
    grid-column: span 1;
}

.bigcol .item:nth-child(29),
.bigcol .item:nth-child(30) {
    grid-row: span 5;
    grid-column: span 1;
}

.bigcol .item:nth-child(6),
.bigcol .item:nth-child(11),
.bigcol .item:nth-child(12),
.bigcol .item:nth-child(15) {
    grid-row: span 2;
    grid-column: span 1;
}

.bigcol .item:nth-child(2),
.bigcol .item:nth-child(13),
.bigcol .item:nth-child(21) {
    grid-row: span 3;
    grid-column: span 1;
}

@media screen and (max-width: 766px) {
    .bigcol {
        grid-template-rows: 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh 11vh;
        padding: 0px;
    }
    .bigcol .item:nth-child(1),
    .bigcol .item:nth-child(54) {
        grid-row: span 3;
        grid-column: span 4;
    }
    .bigcol .item:nth-child(3) {
        grid-row: span 2;
        grid-column: span 4;
    }
    .bigcol .item:nth-child(5),
    .bigcol .item:nth-child(8),
    .bigcol .item:nth-child(22),
    .bigcol .item:nth-child(26),
    .bigcol .item:nth-child(27),
    .bigcol .item:nth-child(28),
    .bigcol .item:nth-child(35),
    .bigcol .item:nth-child(44),
    .bigcol .item:nth-child(45) {
        grid-row: span 3;
        grid-column: span 4;
    }
    .bigcol .item:nth-child(23) {
        grid-row: span 4;
        grid-column: span 2;
    }
    .bigcol .item:nth-child(4),
    .bigcol .item:nth-child(9),
    .bigcol .item:nth-child(10),
    .bigcol .item:nth-child(14),
    .bigcol .item:nth-child(18),
    .bigcol .item:nth-child(19),
    .bigcol .item:nth-child(20),
    .bigcol .item:nth-child(24),
    .bigcol .item:nth-child(25),
    .bigcol .item:nth-child(31),
    .bigcol .item:nth-child(32),
    .bigcol .item:nth-child(33),
    .bigcol .item:nth-child(34),
    .bigcol .item:nth-child(36),
    .bigcol .item:nth-child(37),
    .bigcol .item:nth-child(38),
    .bigcol .item:nth-child(39),
    .bigcol .item:nth-child(40),
    .bigcol .item:nth-child(41),
    .bigcol .item:nth-child(42),
    .bigcol .item:nth-child(43),
    .bigcol .item:nth-child(46),
    .bigcol .item:nth-child(47),
    .bigcol .item:nth-child(48),
    .bigcol .item:nth-child(49),
    .bigcol .item:nth-child(50),
    .bigcol .item:nth-child(51),
    .bigcol .item:nth-child(52),
    .bigcol .item:nth-child(53) {
        grid-row: span 4;
        grid-column: span 2;
    }
    .bigcol .item:nth-child(29),
    .bigcol .item:nth-child(30) {
        grid-row: span 4;
        grid-column: span 2;
    }
    .bigcol .item:nth-child(16),
    .bigcol .item:nth-child(17) {
        grid-row: span 2;
        grid-column: span 2;
    }
    .bigcol .item:nth-child(6),
    .bigcol .item:nth-child(11),
    .bigcol .item:nth-child(12),
    .bigcol .item:nth-child(15) {
        grid-row: span 4;
        grid-column: span 2;
    }
    .bigcol .item:nth-child(2),
    .bigcol .item:nth-child(13),
    .bigcol .item:nth-child(7),
    .bigcol .item:nth-child(21),
    .bigcol .item:nth-child(21) {
        grid-row: span 3;
        grid-column: span 2;
    }
}