@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url('../fonts/Poppins.ttf');
}

* {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    outline: none;
    z-index: 1;
}

*:focus,
*:hover {
    outline: none !important;
}

body {
    overflow-x: hidden;
    font-family: "Raleway";
}


/*top logo header*/

section {
    height: 30vh;
    text-align: center;
}

section img {
    height: 25vh;
    margin: 2.5vh;
}


/*end logo header*/


/*nav css*/

.navdisplay {
    top: 2%;
    display: none;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #fff;
    border-radius: 60px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    padding-top: 0px;
    padding-bottom: 0px;
    outline: none;
}

.navdisplay:after,
.navdisplay:before,
.navdisplay div {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5.5px;
    margin: 4px 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    background-color: rgba(0, 0, 0, 1);
}

.navhide {
    z-index: 1;
    background-color: #fff;
    border-radius: 60px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navhide:after,
.navhide:before,
.navhide div {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    margin: 4px 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    background-color: rgba(0, 0, 0, 1);
}

.navhide:before {
    transform: translateY(9px) rotate(135deg);
}

.navhide:after {
    transform: translateY(-10px) rotate(-135deg);
}

.navhide div {
    transform: scale(0);
}

.setwidth {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
}

header div.container {
    display: flex;
    flex-wrap: wrap;
}

.navbar-brand img {
    height: 3.6vw;
    width: 4.4vw;
}

header {
    position: sticky;
    top: 0px;
    background-color: #102542;
    z-index: 5;
    color: #fff;
}

nav ul li a {
    margin: 1vw;
}

button.butt {
    color: #fff;
    margin: 2vh 0vh;
}

nav ul li a button {
    border: none;
    padding: 2%;
    background-color: transparent;
    font-weight: 500;
    margin: 2vh 2vh;
    margin-bottom: 0px;
}

nav ul li a button:hover {
    transform: scale(1.2);
}

.btn {
    margin: auto 0vh;
}

.navbar-brand {
    display: none;
}

.social-media {
    display: flex;
}

.btn-instagram {
    background-color: transparent;
    border: none;
}

.btn-instagram:hover,
.btn-instagram:active {
    background-color: transparent;
    border: none;
}

.btn-facebook {
    background-color: transparent;
    border: none;
}

.btn-facebook:hover,
.btn-facebook:active {
    background-color: transparent;
    border: none;
}

.btn-whatsapp {
    background-color: transparent;
    border: none;
}

.btn-whatsapp:hover,
.btn-whatsapp:active {
    background-color: transparent;
    border: none;
}

nav ul li:nth-child(6) {
    display: none;
}

.nav-a:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    margin-top: 1vh;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
}

.navbar.navbar-expand-md.setwidth {
    margin-bottom: 0px;
}

@media screen and (max-width:766px) {
    .navbar-brand {
        line-height: 0px;
        height: fit-content;
        height: -moz-fit-content;
        height: -webkit-fit-content;
        margin: 1.5%;
        margin-right: auto;
        display: block;
    }
    .navbar-brand img {
        height: 45px;
        width: 55px;
    }
    .navdisplay {
        display: block;
        margin: auto 0px;
    }
    .setwidth {
        width: 100%;
    }
    section {
        /* display: none; */
        height: 25vh;
    }
    section img {
        height: 20vh;
        margin: 2.5vh;
    }
    .navbar.navbar-expand-md.setwidth {
        padding: 0px;
        width: 100vw;
        margin: 0px -30px;
    }
    nav ul li:nth-child(6) {
        display: block;
        margin: 3%;
    }
    nav ul li {
        text-align: center;
    }
    nav ul li a button:hover {
        transform: none;
    }
    #header {
        padding: 10px;
    }
}


/* end nav */


/* body */


/* carousel */

.carousel-item {
    height: 100vh;
    /* background-image: url(../images/slideshow/background.png); */
}

.carousel-item .container {
    background-size: contain;
    background-repeat: no-repeat;
    height: 96vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.carousel-item:nth-child(1) .container {
    background-image: url(../images/slideshow/1.jpg);
}

.carousel-item:nth-child(2) .container {
    background-image: url(../images/slideshow/2.jpg);
}

.carousel-item:nth-child(3) .container {
    background-image: url(../images/slideshow/3.jpg);
}

.carousel-item:nth-child(4) .container {
    background-image: url(../images/slideshow/4.jpg);
}

.carousel-item:nth-child(5) .container {
    background-image: url(../images/slideshow/5.jpg);
}

.carousel-item:nth-child(6) .container {
    background-image: url(../images/slideshow/6.jpg);
}

.carousel-item:nth-child(7) .container {
    background-image: url(../images/slideshow/7.jpg);
}

.carousel-item:nth-child(8) .container {
    background-image: url(../images/slideshow/8.jpg);
}

.carousel-item:nth-child(9) .container {
    background-image: url(../images/slideshow/9.jpg);
}

.carousel-item:nth-child(10) .container {
    background-image: url(../images/slideshow/10.jpg);
}

.carousel-item:nth-child(11) .container {
    background-image: url(../images/slideshow/11.jpg);
}

.carousel-control-next span,
.carousel-control-prev span {
    display: none;
}

.carousel-control-next:after {
    content: '>';
    font-size: 55px;
    font-weight: 900;
    color: #102542;
}

.carousel-control-prev:after {
    content: '<';
    font-size: 55px;
    font-weight: 900;
    color: #102542;
}

.vertalign {
    height: 100%;
    display: flex;
}

.logoandtagline {
    margin: auto 0px;
}

.home h1 {
    font-family: 'Raleway';
    font-size: 70px;
    font-weight: 900;
}

.home h3 {
    font-size: 20px;
    font-family: 'Poppins';
}

.flip-card-back .flip-card-back .col-sm-12 {
    width: 50%;
    padding: 0px;
    display: flex;
}

.flip-card-back .col-sm-12 {
    height: 100%;
    display: flex;
}

.flip-card-back .col-sm-12 p {
    height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 15px;
    font-size: large;
}

@media screen and (max-width:766px) {
    .logoandtagline {
        margin: 5vh 0px;
        text-align: center;
        width: 100%;
        height: fit-content;
        height: -moz-fit-content;
        height: -webkit-fit-content;
    }
    .home h1 {
        font-size: 35px;
    }
    .home h3 {
        font-size: 15px;
    }
    .carousel-item {
        height: 70vh;
        /* background-image: url(../images/slideshow/backgroundmobile.png); */
    }
    .carousel-item .container {
        background-size: contain;
        background-repeat: no-repeat;
        height: 100%;
        margin-top: 2vh;
        margin-bottom: 0%;
    }
    .carousel-item:nth-child(1) .container {
        background-image: url(../images/slideshow/mobile/1.jpg);
    }
    .carousel-item:nth-child(2) .container {
        background-image: url(../images/slideshow/mobile/2.jpg);
    }
    .carousel-item:nth-child(3) .container {
        background-image: url(../images/slideshow/mobile/3.jpg);
    }
    .carousel-item:nth-child(4) .container {
        background-image: url(../images/slideshow/mobile/4.jpg);
    }
    .carousel-item:nth-child(5) .container {
        background-image: url(../images/slideshow/mobile/5.jpg);
    }
    .carousel-item:nth-child(6) .container {
        background-image: url(../images/slideshow/mobile/6.jpg);
    }
    .carousel-item:nth-child(7) .container {
        background-image: url(../images/slideshow/mobile/7.jpg);
    }
    .carousel-item:nth-child(8) .container {
        background-image: url(../images/slideshow/mobile/8.jpg);
    }
    .carousel-item:nth-child(9) .container {
        background-image: url(../images/slideshow/mobile/9.jpg);
    }
    .carousel-item:nth-child(10) .container {
        background-image: url(../images/slideshow/mobile/10.jpg);
    }
    .carousel-item:nth-child(11) .container {
        background-image: url(../images/slideshow/mobile/11.jpg);
    }
    .carousel-control-next:after,
    .carousel-control-prev:after {
        font-size: 30px;
    }
    #products .container,
    #products .container .col-sm-6 {
        padding: 0px;
    }
}


/* welcome quote */

.welcome-quote {
    text-align: center;
    /* margin: 2vw; */
    height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    /* padding: 5vh 0vh; */
}

.welcome-quote .container {
    padding-bottom: 2vw;
    height: 100%;
    display: flex;
}

.welcome-quote .container div {
    margin: auto 0vw;
}

.welcome-quote h4 {
    font-weight: 500;
    font-size: small;
}

.welcome-quote h2 {
    font-weight: 900;
}

.welcome-quote .container blockquote {
    font-family: "Poppins";
}

.hrline {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128);
    line-height: 0.1em;
    margin: 10px 10% 20px;
}

.hrline span {
    padding: 0 10px;
    font-size: small;
}

i:before {
    font-size: 22px;
    color: #000;
}

.aboutuscards .flip-card-back .col-sm-12 {
    display: none;
}

.aboutuscards-visible .flip-card-back .col-sm-12 {
    display: flex;
}

@media screen and (max-width:766px) {
    .welcome-quote {
        margin: 2vw 0vw;
    }
}


/* about and touch scroll effect*/

#about {
    /* background-color: #f87060; */
    text-align: center;
    transition: 1s;
}

#about button {
    margin: 1vw auto;
    margin-bottom: 0px;
    padding: 1vw;
    width: 70%;
    /* background-color: #f87060; */
    background-color: black;
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

#about button h1 {
    font-weight: 900;
    width: fit-content;
    width: -moz-fit-content;
    width: width-fit-content;
    margin: auto;
    color: #fff;
}

#about button h1 span:before,
#about button h1 span:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5.5px;
    margin: 4px 0;
    background-color: #fff;
    /* background-color: rgba(0, 0, 0, 1); */
    width: 50%;
    -moz-width: 40%;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
}

#about button h1 span:before {
    transform: translateY(9px) translateX(4px) rotate(15deg);
    -webkit-transform: translateY(9px) translateX(4px) rotate(15deg);
    -moz-transform: translateY(9px) translateX(4px) rotate(15deg);
}

#about button h1 span:after {
    transform: translateY(-0.5px) translateX(96%) rotate(165deg);
    -webkit-transform: translateY(-0.5px) translateX(96%) rotate(165deg);
    -moz-transform: translateY(-0.5px) translateX(96%) rotate(165deg);
}

#about button.about-width h1 span {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 200px;
}

#about button.about-width h1 span:before,
#about button.about-width h1 span:after {
    border-radius: 3px;
    content: '';
    display: block;
    height: 5.5px;
    margin: 4px 0;
    background-color: #fff;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

#about button.about-width h1 span:before {
    transform: translateY(9px) translateX(0px) rotate(45deg);
}

#about button.about-width h1 span:after {
    transform: translateY(0px) translateX(0%) rotate(135deg);
}

#about .about-width {
    width: 102%;
    margin-left: -15px;
    margin-right: -15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.about {
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
}

.aboutuscards-visible {
    height: 100vh;
    margin-bottom: 8vh;
}

.aboutdiv .row {
    height: 0px;
    top: 0px;
    position: absolute;
    z-index: 0;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    margin-left: 0px;
    margin-right: 0px;
}

.aboutdiv .row .col-sm-6,
.aboutdiv .row .col-sm-6 h3,
.aboutdiv .row .col-sm-6 p,
.aboutdiv .row .col-sm-6 h6 {
    visibility: hidden;
    height: 0px;
}

.aboutdiv-visible .row {
    height: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    position: relative;
    z-index: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.aboutdiv-visible .row .col-sm-6,
.aboutdiv-visible .row .col-sm-6 h3,
.aboutdiv-visible .row .col-sm-6 p,
.aboutdiv-visible .row .col-sm-6 h6 {
    visibility: visible;
    height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
}

.aboutuscards .row {
    height: 46%;
    margin: 2%;
}

.aboutuscards .col-sm-6 {
    height: 100% !important;
}

.flip-card {
    height: 100%;
}

.body {
    max-height: 186vh;
}

.bodyheight {
    max-height: fit-content;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
}

.col-sm-6 h6 {
    font-weight: 700;
    font-family: "Raleway";
    font-size: large;
    margin-top: 1vw;
}

.col-sm-6 h3 {
    font-weight: 800;
    margin: 2vw 0vw;
    margin-bottom: 1vw;
}

.col-sm-6 p {
    font-family: "Poppins";
    text-align: justify;
}

p span {
    float: right;
    font-weight: 900;
}

.inspiration p {
    font-family: "Poppins";
}

.col-sm-6 {
    margin-top: auto;
    margin-bottom: auto;
}


/* flip cards */

.flip-card {
    background-color: transparent;
    margin-top: 5vh;
    perspective: 1000px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    display: flex;
    text-align: center;
    border: 2px solid black;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    height: 100%;
}

.flip-card-back {
    background-color: #f87060;
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    position: absolute;
    height: 100%;
}

.flip-card .flip-card-front div {
    margin: auto;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.flip-card-front button {
    display: none;
}

.row:nth-child(odd) .col-sm-6:nth-child(1) .flip-card-front button {
    background-color: white;
    color: black;
}

.row:nth-child(odd) .col-sm-6:nth-child(2) .flip-card-front button {
    background-color: black;
    color: white;
}

.row:nth-child(even) .col-sm-6:nth-child(1) .flip-card-front button {
    background-color: black;
    color: white;
}

.row:nth-child(even) .col-sm-6:nth-child(2) .flip-card-front button {
    background-color: white;
    color: black;
}

.row:nth-child(1) .col-sm-6:nth-child(1) .flip-card-front button,
.row:nth-child(2).col-sm-6:nth-child(2) .flip-card-front button {
    background-color: white;
    color: black;
}

.row:nth-child(1) .col-sm-6:nth-child(2) .flip-card-front button,
.row:nth-child(2).col-sm-6:nth-child(1) .flip-card-front button {
    background-color: black;
    color: white;
}

div h1 {
    font-weight: 900;
}

.flip-card-front {
    background-color: black;
}

@media screen and (max-width:766px) {
    .col-sm-6 h3 {
        margin-top: 3vh;
        font-size: 25px;
    }
    .col-sm-6 p {
        margin-bottom: 0vh;
    }
    #about button {
        width: 90%;
    }
    .aboutuscards-visible {
        height: 300vh;
    }
    .aboutuscards-visible .row {
        height: 50%;
        margin: 0px;
    }
    #about .about-width {
        width: 108%;
    }
    .flip-card {
        height: 100%;
    }
    .flip-card-front,
    .flip-card-back {
        height: 96%;
        margin: 2% 0;
    }
    .flip-card-back .col-sm-6 {
        margin: 0 !important;
        width: 100%;
    }
    .aboutuscards .col-sm-6 {
        height: 50% !important;
        padding: 0px;
    }
    .aboutuscards {
        padding: 0px;
    }
    .flip-card-back .flip-card-back .col-sm-12:nth-child(2) p {
        margin: auto 0vw;
        padding: 3vh;
    }
    .flip-card-back .flip-card-back .col-sm-12:nth-child(2) {
        bottom: 0px;
        position: absolute;
    }
    .flip-card-back .flip-card-back .col-sm-12 {
        width: 100%;
        height: 50%;
        margin-right: -50%;
    }
    .flip-card-front button {
        display: block;
        padding: 3px;
        margin: 2vh auto;
        border: none;
        background-color: black;
        color: white;
        padding: 3px;
    }
    .about {
        height: 14vh;
    }
    #about button h1 span:before {
        transform: translateY(9px) translateX(3px) rotate(15deg);
    }
    #about button h1 span:after {
        transform: translateY(-1px) translateX(95%) rotate(165deg);
    }
    .aboutuscards .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}


/* footer */

footer {
    background-color: #102542;
    text-align: center;
}

.social-media-footer {
    padding: 2vh;
}

.social-media-footer .btn {
    background-color: transparent;
    margin: auto;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

.social-media-footer a {
    text-decoration: none;
    color: #f87060;
    margin-bottom: 2vh;
}

.social-media-footer h6 {
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 2vh;
}

.fa-instagram:before,
.fa-whatsapp:before,
.fa-facebook:before {
    color: white;
    font-size: x-large;
    margin-top: auto;
    margin-bottom: auto;
}


/* end body */


/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */