#heading {
    text-align: center;
    font-weight: 900;
    margin: 2.5vh;
}

#products {
    height: fit-content;
    position: static;
}

#products .container .row .row .col-sm-6 {
    height: 46vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.row {
    width: 100%;
    margin: 0px;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 96%;
    margin-top: 0px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    -webkit-transition: -webkit-transform 0.8s;
    -moz-transition: -moz-transform 0.8s;
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.row:nth-child(odd) .col-sm-6:nth-child(1) .flip-card-front h1 {
    width: fit-content;
    padding: 5px 15px;
    font-weight: 900;
    background-color: black;
    color: white;
    font-size: x-large;
}

.row:nth-child(odd) .col-sm-6:nth-child(1) .flip-card-front:hover h1 {
    width: fit-content;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: x-large;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.row:nth-child(odd) .col-sm-6:nth-child(1) .flip-card-front {
    background-color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.row:nth-child(odd) .col-sm-6:nth-child(1) .flip-card-front:hover {
    background-color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.row:nth-child(even) .col-sm-6:nth-child(2) .flip-card-front:hover {
    background-color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.row:nth-child(odd) .col-sm-6:nth-child(2) .flip-card-front h1,
.row:nth-child(even) .col-sm-6:nth-child(1) .flip-card-front h1 {
    width: fit-content;
    padding: 5px;
    font-weight: 900;
    background-color: white;
    color: black;
    font-size: x-large;
}

.row:nth-child(odd) .col-sm-6:nth-child(2) .flip-card-front:hover h1,
.row:nth-child(even) .col-sm-6:nth-child(1) .flip-card-front:hover h1 {
    width: fit-content;
    padding: 5px;
    background-color: black;
    color: white;
    font-size: x-large;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.row:nth-child(odd) .col-sm-6:nth-child(2) .flip-card-front,
.row:nth-child(even) .col-sm-6:nth-child(1) .flip-card-front {
    background-color: black;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.row:nth-child(odd) .col-sm-6:nth-child(2) .flip-card-front:hover,
.row:nth-child(even) .col-sm-6:nth-child(1) .flip-card-front:hover {
    background-color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.row:nth-child(even) .col-sm-6:nth-child(2) .flip-card-front h1 {
    width: fit-content;
    padding: 5px 15px;
    font-weight: 900;
    background-color: black;
    color: white;
    font-size: x-large;
}

.row:nth-child(even) .col-sm-6:nth-child(2) .flip-card-front:hover h1 {
    width: fit-content;
    padding: 5px;
    background-color: white;
    color: black;
    font-size: x-large;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}

.row:nth-child(even) .col-sm-6:nth-child(2) .flip-card-front {
    background-color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}


/* Style the back side */

.row:nth-child(odd) .col-sm-6:nth-child(1) .flip-card-back {
    background-color: black;
    color: white;
    border: 2px solid black;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.row:nth-child(odd) .col-sm-6:nth-child(2) .flip-card-back,
.row:nth-child(even) .col-sm-6:nth-child(1) .flip-card-back {
    background-color: white;
    color: black;
    border: 2px solid black;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.row:nth-child(even) .col-sm-6:nth-child(2) .flip-card-back {
    background-color: black;
    color: white;
    border: 2px solid black;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

footer {
    position: static;
}

.row .col-sm-6 .flip-card .flip-card-inner .flip-card-front {
    background-size: 115%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s;
}

.row .col-sm-6:hover .flip-card .flip-card-inner .flip-card-front {
    background-size: 140%;
    transition: 1s;
}

.row:nth-child(1) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/timberpc.webp);
}

.row:nth-child(1) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/teakpc.webp);
}

.row:nth-child(2) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/nonteakpc.webp);
}

.row:nth-child(2) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/burmeseteakwoodpc.webp);
}

.row:nth-child(3) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/indianteakwoodpc.webp);
}

.row:nth-child(3) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/africanteakwoodpc.webp);
}

.row:nth-child(4) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/salwoodpc.webp);
}

.row:nth-child(4) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/walnutwoodpc.webp);
}

.row:nth-child(5) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/oakwoodpc.webp);
}

.row:nth-child(5) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/pinewoodpc.webp);
}

.row:nth-child(6) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/beechwoodpc.webp);
}

.row:nth-child(6) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/doorspc.webp);
}

.row:nth-child(7) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/woodenframespc.webp);
}

.row:nth-child(7) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/carvingpc.webp);
}

.row:nth-child(8) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/railingspc.webp);
}

.row:nth-child(8) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/woodenflooringpc.webp);
}

.row:nth-child(9) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/solidsurfacepc.webp);
}

.row:nth-child(9) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/cnccuttingpc.webp);
}

.row:nth-child(10) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/plywoodpc.webp);
}

.row:nth-child(10) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/veneerspc.webp);
}

.row:nth-child(11) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/laminatespc.webp);
}

.row:nth-child(11) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/sleeperwoodpc.webp);
}

.row:nth-child(12) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/tabletopspc.webp);
}

.row:nth-child(12) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/customizedfurnituremakingpc.webp);
}

.row:nth-child(13) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/woodenbeadingpc.webp);
}

.row:nth-child(13) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
    background-image: url(../images/products/jaalipartitionspc.webp);
}

@media screen and (max-width:800px) {
    .row:nth-child(1) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/timbertab.webp);
    }
    .row:nth-child(1) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/teaktab.webp);
    }
    .row:nth-child(2) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/nonteaktab.webp);
    }
    .row:nth-child(2) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/burmeseteakwoodtab.webp);
    }
    .row:nth-child(3) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/indianteakwoodtab.webp);
    }
    .row:nth-child(3) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/africanteakwoodtab.webp);
    }
    .row:nth-child(4) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/salwoodtab.webp);
    }
    .row:nth-child(4) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/walnutwoodtab.webp);
    }
    .row:nth-child(5) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/oakwoodtab.webp);
    }
    .row:nth-child(5) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/pinewoodtab.webp);
    }
    .row:nth-child(6) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/beechwoodtab.webp);
    }
    .row:nth-child(6) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/doorstab.webp);
    }
    .row:nth-child(7) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/woodenframestab.webp);
    }
    .row:nth-child(7) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/carvingtab.webp);
    }
    .row:nth-child(8) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/railingstab.webp);
    }
    .row:nth-child(8) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/woodenflooringtab.webp);
    }
    .row:nth-child(9) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/solidsurfacetab.webp);
    }
    .row:nth-child(9) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/cnccuttingtab.webp);
    }
    .row:nth-child(10) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/plywoodtab.webp);
    }
    .row:nth-child(10) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/veneerstab.webp);
    }
    .row:nth-child(11) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/laminatestab.webp);
    }
    .row:nth-child(11) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/sleeperwoodtab.webp);
    }
    .row:nth-child(12) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/tabletopstab.webp);
    }
    .row:nth-child(12) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/customizedfurnituremakingtab.webp);
    }
    .row:nth-child(13) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/woodenbeadingtab.webp);
    }
    .row:nth-child(13) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/jaalipartitionstab.webp);
    }
    .flip-card-back .col-sm-12 p {
        font-size: medium !important;
    }
}

@media screen and (max-width:766px) {
    .row:nth-child(1) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/timbermobile.webp);
    }
    .row:nth-child(1) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/teakmobile.webp);
    }
    .row:nth-child(2) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/nonteakmobile.webp);
    }
    .row:nth-child(2) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/burmeseteakwoodmobile.webp);
    }
    .row:nth-child(3) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/indianteakwoodmobile.webp);
    }
    .row:nth-child(3) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/africanteakwoodmobile.webp);
    }
    .row:nth-child(4) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/salwoodmobile.webp);
    }
    .row:nth-child(4) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/walnutwoodmobile.webp);
    }
    .row:nth-child(5) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/oakwoodmobile.webp);
    }
    .row:nth-child(5) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/pinewoodmobile.webp);
    }
    .row:nth-child(6) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/beechwoodmobile.webp);
    }
    .row:nth-child(6) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/doorsmobile.webp);
    }
    .row:nth-child(7) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/woodenframesmobile.webp);
    }
    .row:nth-child(7) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/carvingmobile.webp);
    }
    .row:nth-child(8) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/railingsmobile.webp);
    }
    .row:nth-child(8) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/woodenflooringmobile.webp);
    }
    .row:nth-child(9) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/solidsurfacemobile.webp);
    }
    .row:nth-child(9) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/cnccuttingmobile.webp);
    }
    .row:nth-child(10) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/plywoodmobile.webp);
    }
    .row:nth-child(10) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/veneersmobile.webp);
    }
    .row:nth-child(11) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/laminatesmobile.webp);
    }
    .row:nth-child(11) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/sleeperwoodmobile.webp);
    }
    .row:nth-child(12) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/tabletopsmobile.webp);
    }
    .row:nth-child(12) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/customizedfurnituremakingmobile.webp);
    }
    .row:nth-child(13) .col-sm-6:nth-child(1) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/woodenbeadingmobile.webp);
    }
    .row:nth-child(13) .col-sm-6:nth-child(2) .flip-card .flip-card-inner .flip-card-front {
        background-image: url(../images/products/jaalipartitionsmobile.webp);
    }
    .flip-card-front,
    .flip-card-back {
        margin: 0px;
    }
}